# Abaikan SEMUA folder node_modules di folder manapun
**/node_modules/

# Abaikan folder build/dist dari frontend
/frontend/dist/
/frontend/build/

# Abaikan file environment (penting untuk keamanan)
**/.env

# Abaikan file log
*.log

# Abaikan file sistem operasi
.DS_Store
Thumbs.db